30    11  *   *   *   /bin/bash -c "source /Users/gcao/.rvm/scripts/rvm && cd /Users/gcao/proj/tennis-scrap && source .rvmrc && /Users/gcao/.rvm/rubies/ruby-1.9.3-p392/bin/ruby lib/scrap.rb"
32    11  *   *   *   /bin/bash -c "source /Users/gcao/.rvm/scripts/rvm && cd /Users/gcao/proj/tennis-scrap && source .rvmrc && /Users/gcao/.rvm/rubies/ruby-1.9.3-p392/bin/ruby lib/scrap-tournaments.rb"
34    11  *   *   *   /bin/bash -c "source /Users/gcao/.rvm/scripts/rvm && cd /Users/gcao/proj/tennis-scrap && source .rvmrc && /Users/gcao/.rvm/rubies/ruby-1.9.3-p392/bin/ruby lib/scrap-rank-history.rb"
36    11  *   *   *   /bin/bash -c "source /Users/gcao/.rvm/scripts/rvm && cd /Users/gcao/proj/tennis-scrap && source .rvmrc && /Users/gcao/.rvm/rubies/ruby-1.9.3-p392/bin/ruby lib/scrap-win-loss.rb"
38    11  *   *   *   /bin/bash -c "source /Users/gcao/.rvm/scripts/rvm && cd /Users/gcao/proj/tennis-scrap && source .rvmrc && /Users/gcao/.rvm/rubies/ruby-1.9.3-p392/bin/ruby lib/scrap-ytd.rb"
40    11  *   *   *   /bin/bash -c "source /Users/gcao/.rvm/scripts/rvm && cd /Users/gcao/proj/tennis-scrap && source .rvmrc && /Users/gcao/.rvm/rubies/ruby-1.9.3-p392/bin/ruby lib/scrap-games.rb"
